{%extends "base.html" %}
{%block tittle%}
    <title>Encontrados MSX</title>
{%endblock%}

{%block titulo%}Busqueda: {{busqueda}}{%endblock%}

{%block contenido%}
    <table>
        <tr>
            <td><strong>Nombre</strong></td>
            <td><strong>Desarrollador</strong></td>
            <td><strong>Más Información</strong></td>
        </tr>
        {% for l in lista -%}
            <tr>
                <td>{{l.nombre}}</td>
                <td>{{l.desarrollador}}</td>
                <td><a href="/juego/{{l.id}}">Detalles</a></td>
            </tr>
        {% endfor -%}
    </table>
{%endblock%}